* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header,.main-and-image {
    max-width: 1100px;
    margin: 0 auto;
}

.header-title {
    font-size: 24px;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

.header-links-link {
    padding: 10px;
    text-decoration: none;
}

.main-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.main-and-image {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-welcome {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.main-action {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 8px;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
}

.image {
    width: 300px;
    height: auto;
    margin-left: auto;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-facts {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: start;
    padding-left: 0px;
}

.fact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.refactor-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.aligner {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.dumb-quote {
    font-size: 36px;
    max-width: 700px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 0px;
}
.author {
    margin-left: auto;
    max-width: 700px;
}


